In [ ]:
my_dict={'Name':["a","b","c","d","e","f","g"],
         'age':[20,27,35,45,55,43,35],
         'designation':["VP","CEO","CFO","VP","VP","CEO","MD"]}

import pandas as pd
import numpy as np
df=pd.DataFrame(my_dict)
df

In [ ]:
df.to_csv('Mithun CSV.csv')
df

In [ ]:
df_csv=pd.read_csv('Mithun CSV.csv')
df_csv

   Unnamed: 0 Name  age designation
0           0    a   20          VP
1           1    b   27         CEO
2           2    c   35         CFO
3           3    d   45          VP
4           4    e   55          VP
5           5    f   43         CEO
6           6    g   35          MD

In [11]:
df.to_csv('Mithun CSV.csv',index=False)
df_csv=pd.read_csv('Mithun CSV.csv')
df_csv

  Name  age designation
0    a   20          VP
1    b   27         CEO
2    c   35         CFO
3    d   45          VP
4    e   55          VP
5    f   43         CEO
6    g   35          MD